.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  z-index: 4;
  transition: opacity 200ms ease-in-out;

  &--after-open {
    opacity: 1;
  }
  &--before-close {
      opacity: 0;
  }
}

.Modal__Overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.Modal__TradeURL-Input {
  width: 70%;

  input {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right: none !important;
  }
}

.Modal__TradeURL-Content {
  p {
    padding: 15px;
    text-align: left;
  }

  hr {
    width: 80%;
    margin: 20px auto;
  }
}

.Modal__TradeURL-Header {
  background: #f7f7f7;
  bordr-bottom: 1px solid rgb(170, 170, 170);
  box-shadow: 0px 0px 1px #000000;
  padding: 10px;

  h1 {
    font-size: 20px;
    font-weight: normal;
  }
}

.Modal__TradeURL-Save {
  display: inline-block;
  font-size: 1em;
  padding: 8px 2em;
  padding-bottom: 9px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(195, 89, 89);
  color: rgba(#1d1d1d, 0.42);
  border: 1px solid rgba(34,36,38,.15);
  cursor: pointer;
  transition: 0.2s all;

  &:hover {
    opacity: 0.9;
  }
}

.Modal__TradeURL {
  box-shadow: 0px 0px 10px black;
  position: absolute;
  top: 50%; left: 0; right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  height: 300px;
  width: 500px;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
}
